<section class="bar">
    <div class="bar-frame">
        <ul class="breadcrumbs">
            <li><a href="index.html">صفحه اصلی</a></li>
            <li>نتایج محصول</li>
        </ul>
    </div>
</section>
<div class="top-bar">
    <form class="form-sort" action="#">
        <fieldset>
            <div class="row">
                <label for="sort">مرتب سازی بر اساس:</label>
                <select id="sort">
                    <option>قیمت</option>
                    <option>قیمت</option>
                </select>
            </div>
            <div class="row">
                <label for="page">محصولات در هر صفحه:</label>
                <select id="page">
                    <option>8</option>
                    <option>8</option>
                </select>
            </div>
            <div class="row">
                <label for="page">نوع محصول:</label>
                <select id="page">
                    <option>عروسک</option>
                    <option>خرس</option>
                </select>
            </div>
        </fieldset>
    </form>
    <ul class="paging">
        <li class="prev"><a href="#">prev</a></li>
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li class="next"><a href="#">next</a></li>
    </ul>
</div>