<footer id="footer">
    <div class="footer-content">
        <ul class="left_side">
            <li>
                <span>درباره ما:</span>
                <p style="line-height: 26px;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
            </li>
            <li>
                <span>پست های محبوب:</span>
                <a href="#">صفحه‌آرایی و طراحی گرافیک </a>
                <a href="#">

                    لورم ایپسوم یا طرح‌نما
                </a>
                <a href="#">صفحه‌آرایی و طراحی گرافیک </a>
                <a class="last" href="#">

                    لورم ایپسوم یا طرح‌نما
                </a>
            </li>
            <li>
                <span>تماس با ما:</span>
                <p>تهران- خیابان شریعتی<br />خیابان ملک-بن بست ایرانیاد</p>
                <p>تلفن: 88454816<br /> Example@gmail.com</p>

            </li>
        </ul>
        <ul class="right_side">
            <li>
                <span>رسانه های اجتماعی:</span>
                <div class="social">
                    <a href="#" class="fb">Facebook</a>
                    <a href="#" class="tw">Twitter</a>
                </div>
                <div class="social">
                    <a href="#" class="gl">Google+</a>
                    <a href="#" class="pn">Pinterest</a>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
        <p class="copy">یه حقوق مادی و معنوی برای مجموعه برنامه نویسان محفوظ می باشد</p>
    </div>
</footer>

