<div class="header-holder">
    <header id="header">
        <span class="logo"><a href="index.html">Bambino</a></span>
        <div class="tools-nav_holder">
            <ul class="tools-nav">
                <li><a href="#">حساب کاربری</a></li>
                <li class="login"><a href="#">خروج</a></li>
            </ul>
            <div class="checkout">
                <span>3 محصول, <span class="pink">380,50ریال</span></span>
                <a href="cart.html" class="btn btn_checkout">پرداخت</a>
            </div>
        </div>
        <div class="clear"></div>
        <a class="menu_trigger" href="#">menu</a>
        <nav id="nav">
            <ul class="navi">
                <li class="searc_li">
                    <div class="ul_search li">
                        <a class="search" href="#"><span>جستجو</span></a>
                        <form method="get" class="searchform" action="#">
                            <input type="text" class="field" name="s" id="s" placeholder="دنبال چی میگردی؟" />
                            <input type="submit" class="submit" value="" />
                            <div class="clear"></div>
                        </form>
                    </div>
                </li>
                <li><a href="products.html">مجموعه ما</a></li>
                <li><a href="products.html">محصولات برتر</a></li>
                <li><a href="products.html">بهترین فروشندگان</a></li>
                <li><a href="products.html">هدایا</a></li>
                <li><a href="products.html">تبلیغات</a></li>
            </ul>
            <div class="ul_search">
                <a class="search" href="#"><span>جستجو</span></a>
                <form method="get" class="searchform" action="#">
                    <input type="text" class="field" name="s" id="s" placeholder="دنبال چی میگردی؟" />
                    <input type="submit" class="submit" value="" />
                </form>
            </div>
        </nav>
    </header>
</div>

