
<!DOCTYPE html>
<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
<!--[if gt IE 9]><!-->
<html lang="en">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <title>سایت فروشگاهی عروسک خمیری ساینا</title>
    <link rel="stylesheet" href="~/css/fancySelect.css" />
    <link rel="stylesheet" href="~/css/uniform.css" />
    <link rel="stylesheet" href="~/css/jquery.bxslider.css" />
    <link href="~/css/jquery-ui-1.10.4.custom.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/all.css" />
    <link rel="stylesheet" href="~//all.css" />
    <link media="screen" rel="stylesheet" type="text/css" href="css/screen.css" />
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <div class="wrapper-holder">
            @Html.Partial("_header_holder")
            <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
            <section class="main">
                <div class="content">
                    @Html.Partial("_barandtopbar")
                    @RenderBody();
                  
                </div>
            </section>
        </div>
        <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
        @Html.Partial("_footer")
    </div>
    <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/js/jcarousellite.js"></script>
    <script type="text/javascript" src="~/js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="~/js/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="~/js/fancySelect.js"></script>
    <script type="text/javascript" src="~/js/jquery.bxslider.js"></script>
    <script src="~/js/jquery-ui-1.10.4.custom.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
</body>
</html>